<button routerLink="/now_playing">Now playing</button>
<button routerLink="/artists">Artists</button>
<button routerLink="/tracks">Tracks</button>
<button routerLink="/radio">Radio</button>
<button routerLink="/charts">Charts</button>
<button routerLink="/playlists">Playlists</button>
  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/now_playing">Now playing</a>
  <a routerLink="/artists">Artists</a>
  <a routerLink="/tracks">Tracks</a>
  <a routerLink="/radio">Radio</a>
  <a routerLink="/charts">Charts</a>
  <a routerLink="/playlists">Playlists</a>
