@media only screen and (min-width: 320px) {
  .audio-player {
    width: 320px;
    position: relative;
    box-shadow: 0 8px 8px 0 #c8c8c8;
    z-index: 99; }
    .audio-player .track-item {
      box-shadow: 0 2px 8px 0 #c8c8c8;
      position: relative;
      z-index: 1;
      background: white; }
      .audio-player .track-item .meta {
        display: flex;
        align-items: center;
        margin: 5px 0;
        padding-right: 10px;
        padding-bottom: 15px; }
        .audio-player .track-item .meta toggle-liked-track {
          padding: 10px; }
        .audio-player .track-item .meta .details {
          overflow: hidden;
          text-overflow: ellipsis; }
          .audio-player .track-item .meta .details .track-title,
          .audio-player .track-item .meta .details .artist {
            white-space: nowrap; }
      .audio-player .track-item .dummy i {
        padding: 10px;
        color: #ccc; }
      .audio-player .track-item .dummy .track-title,
      .audio-player .track-item .dummy .artist {
        background: #efefef;
        color: transparent;
        display: block;
        height: 17px; }
      .audio-player .track-item .dummy .track-title {
        width: 250px;
        margin-bottom: 4px; }
      .audio-player .track-item .dummy .artist {
        width: 100px; } }
@media (max-width: 767px) {
  :host {
    position: fixed;
    bottom: 40px;
    width: 100vw;
    z-index: 2; }
    :host .audio-player {
      width: 100%;
      box-shadow: none;
      /*/deep/*/ }
      :host .audio-player .track-item {
        height: 48px; }
      :host .audio-player .play-track {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid;
        margin: 0 8px; }
        :host .audio-player .play-track i {
          font-size: 16px;
          padding: 6px 9px; }
      :host .audio-player .meta {
        padding: 5px 5px 5px 54px !important; }
        :host .audio-player .meta .artist {
          display: block; }
      :host .audio-player audio-player-controls {
        /*/deep/*/ }
        :host .audio-player audio-player-controls .button-container {
          padding: 0; }
          :host .audio-player audio-player-controls .button-container .prev,
          :host .audio-player audio-player-controls .button-container .next {
            display: none; }
          :host .audio-player audio-player-controls .button-container .play,
          :host .audio-player audio-player-controls .button-container .pause {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid;
            margin: 0 8px;
            font-size: inherit;
            padding: 0;
            color: inherit;
            background: none;
            position: absolute;
            left: 5px;
            top: 9px; }
            :host .audio-player audio-player-controls .button-container .play i,
            :host .audio-player audio-player-controls .button-container .pause i {
              font-size: 16px;
              padding: 6px 9px; }
          :host .audio-player audio-player-controls .button-container .pause i {
            padding: 6px 0; }
        :host .audio-player audio-player-controls range-slider {
          top: -10px;
          position: absolute;
          width: 100%;
          left: 0; }
          :host .audio-player audio-player-controls range-slider .min-value,
          :host .audio-player audio-player-controls range-slider .max-value {
            display: none; }
      :host .audio-player.noTrack {
        display: none; } }

/*# sourceMappingURL=audio-player.component.css.map */
