<ul class="nav nav-extended nav-wrapper">
<!--  <li><a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a></li>-->
  <li><a routerLink="/" routerLinkActive="active">Home</a></li>
  <li><a routerLink="/now_playing">Now playing</a></li>
  <li><a routerLink="/artists">Artists</a></li>
  <li><a routerLink="/tracks">Tracks</a></li>
  <li><a routerLink="/radio">Radio</a></li>
  <li><a routerLink="/charts">Charts</a></li>
  <li><a routerLink="/playlists">Playlists</a></li>
  <li><a routerLink="/albums">Albums</a></li>
</ul>
