<mat-nav-list class="nav nav-extended nav-wrapper">
	<!-- <div mat-subheader>Folders</div> -->
	<mat-list-item role="listitem" routerLinkActive="active-link">
		<mat-icon mat-list-icon>home</mat-icon>
		<a mat-line routerLink="/">Home</a>
	</mat-list-item>
	<mat-list-item role="listitem" routerLinkActive="active-link">
		<mat-icon mat-list-icon>music_note</mat-icon>
		<a mat-line routerLink="/now_playing">Now playing</a>
	</mat-list-item>
	<mat-list-item role="listitem" routerLinkActive="active-link">
		<mat-icon mat-list-icon>person</mat-icon>
		<a mat-line routerLink="/artists">Artists</a>
	</mat-list-item>
	<mat-list-item role="listitem" routerLinkActive="active-link">
		<mat-icon mat-list-icon>library_music</mat-icon>
		<a mat-line routerLink="/tracks">Library</a>
	</mat-list-item>
	<mat-list-item role="listitem" routerLinkActive="active-link">
		<mat-icon mat-list-icon>online_prediction</mat-icon>
		<a routerLink="/radio" mat-line>Radio</a>
	</mat-list-item>
	<mat-list-item role="listitem" routerLinkActive="active-link">
		<mat-icon mat-list-icon>home</mat-icon>
		<a routerLink="/charts" mat-line>Charts</a>
	</mat-list-item>
	<mat-list-item role="listitem" routerLinkActive="active-link">
		<mat-icon mat-list-icon>queue_music</mat-icon>
		<a routerLink="/playlists" mat-line>Playlists</a>
	</mat-list-item>
	<mat-list-item role="listitem" routerLinkActive="active-link">
		<mat-icon mat-list-icon>album</mat-icon>
		<a routerLink="/albums" mat-line>Albums</a>
	</mat-list-item>
</mat-nav-list>