<footer id="footer" class="page-footer">
  <div class="container">
    <ul class="list-inline">
      <li>
        <a class="grey-text" href="#/about" rel="nofollow">About</a>
        <a class="grey-text" href="#/terms/policy" rel="nofollow">Terms &amp; Privacy Policy</a>
        <a class="grey-text" href="#/disclaimer" rel="nofollow">DMCA, Copyright &amp; Disclaimer</a>
      </li>
    </ul>
    
    <!-- <br> -->
    <!-- <div style="clear:both"></div> -->

  </div>
  <div class="footer-copyright">
    <div class="container">
      <a class="orange-text text-lighten-3" href="http://materializecss.com">Epsilon Pi&nbsp;</a>
      <span>&copy; {{1567760305917 | date:'yyyy'}} </span>&nbsp;
      <span class="orange-text text-lighten-3"> Made with <span class="red-text text-lighten-3">❤️</span> by {{EpsilonPi.toString()}} Christian Augustyn</span>
    </div>
  </div>
</footer>