<div>
	<style>
		/*Style as you see fit*/
		.box{float:left;}

		.lastfm li{
			list-style:none;
			list-style-image: none;
			float:left;
			margin:2px;
		}

		.lastfm li a{
			width:100px;
			height:80px;
			display:block;
		}

		.lastfm a span{display:none;}
		.lastfm a:hover span{background-color:black;color:white;display:block;}
	</style>
	<div class="box">
		<h2>Artists</h2>
		<ul class="lastfm" lastfm-artists="countymojo" period="3month" limit="5" data-key="99a3723ef564b7395271af5fd39dad6a"></ul>
	</div>
</div>
