<div xng-show="image1" class="panel panel-default" ng-init="getMostDownloadableMusics()">
  <div class="xrow">
    <ul class="collection MostDownloadableMusicList list-unstyled" ng-controller="MostDownloadable">
      <li class="collection-header">
        <h5>Most Downloadable</h5>
      </li>
      <li class="collection-item MostDownloadableMusicList--Item" ng-repeat="music in most_downloadable | limitTo: 3" repeat="music in musics">
        <a class="" href="#/artists/details/{{music._id}}">
          <img class="thumbnail" src="{{music.album_art}}">
          <small>{{music.title}}</small>
        </a>
      </li>
    </ul>
  </div>
</div>