<div id="post" ng-init="getPosts()">
	<div class="row" ng-repeat="post in posts">
		<div class="col s12 m6">
			<div class="card sticky-action blue-grey darken-1">
				<div class="card-image waves-efffect waves-block waves-light">
					<!-- <a class="post-link" href="#/posts/post_image_url{{user.post_image_url}}" title="Click to view image">
						<div class="caption">
							<div class="caption-content">
								<i class="fa fa-search-plus fa-3x"></i>
							</div>
						</div>
						<img class="thumbnail" src="./images/DSCF0811.jpg">
						<img class="thumbnail" src="{{post.post_image_url}}">
					</a> -->

					<img src="./images/DSCF0811.jpg">
					<div class="card-title">
						<div class="user_dp_sm">
							<a href="{{post.user_link}}" title="{{post.owner.name}}">
								<img class="dp_sm" src="./images/icon.png">
							</a>
						</div>
						<div class="post_user_credit">
							<a href="{{post.user_link}}" class="displayname" title="{{post.owner.name}}">@{{post.owner.name}}</a>
						</div>
					</div>
					<a class="btn-floating halfway-fab waves-efffect waves-light red"><i class="material-icons">add</i></a>
				</div>
				<div class="card-content white-text">
					<p>{{post.story}}</p>
					<a href="#/posts/details/{{user._id}}">View Post</a>
				</div>
				<div class="card-reveal">
					<form>
						<input type="text" name="comment">
						<button>send</button>
					</form>
				</div>
				<div class="card-action">
					<a href="#/posts/details/{{user._id}}"><i class="material-icons">thumbsup</i>Like</a>
					<a href="" class="activator"><i class="material-icons">comment</i>Comment</a>
					<a href="#/posts/details/{{user._id}}"><i class="material-icons">share</i>Share</a>
				</div>
			</div>
		</div>
	</div>

  </div>
</div>