<div class="dialog-container">
    <div class="dialog-content no-header no-footer">
        <div class="dialog-body">
            <div class="share-content">
                <div class="social-buttons-container">
                    <a class="social-button fb" ng-click="share( 'fb' )"><i class="sm-icon sm-icon-fb"></i></a>
                    <a class="social-button pin" ng-click="share( 'pin' )"><i class="sm-icon sm-icon-pin"></i></a>
                    <a class="social-button tm" ng-click="share( 'tm' )"><i class="sm-icon sm-icon-tm"></i></a>
                    <!--<a class="social-button inst" ng-click="share( 'inst' )"><i class="sm-icon sm-icon-inst"></i></a>-->
                    <a class="social-button tw" ng-click="share( 'tw' )"><i class="sm-icon sm-icon-tw"></i></a>
                    <a class="social-button g-plus" ng-click="share( 'gl' )"><i class="sm-icon sm-icon-google-plus"></i></a>
                    <a class="social-button reddit" ng-click="share( 'rd' )"><i class="sm-icon sm-icon-reddit"></i></a>

                </div>

            </div>
        </div>
    </div>
</div>