<app-navbar></app-navbar>
<div class="container row" [class.noTrack]="!track" style="margin-bottom: 0px;">
  <div class="section valign-wrapper no-pad-bot no-pad-top">

    <div class="col s3">
      <sidenav-template></sidenav-template>
      <app-playlists></app-playlists>
    </div>

    <!-- <loading></loading> -->

    <!-- <notification-template></notification-template> -->

    <div class="col s6 m8 l7 content" role="main" style="background: white;">
      
      <div>
        <p *ngIf="userName" class="welcome">Welcome: {{ userName }}!
        </p>
        <button (click)="signIn()" class="ui button">Sign In</button>
      </div>
      
      <router-outlet></router-outlet>
    </div>

    <div class="col s3">
      <sidebar-template></sidebar-template>
    </div>

  </div>
  <footer>
    Love Angular?&nbsp;
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.
      <div class="github-star-badge">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
        Star
      </div>
    </a>
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </a>
  </footer>

</div>

<audio-player></audio-player>
