<div id="ctrl-as-exmpl" ng-controller="SettingsController1 as settings_ctrl">
    <label>Name: <input type="text" ng-model="settings_ctrl.name"/></label>
    <button ng-click="settings_ctrl.greet()">greet</button><br/>
    Contact:
    <ul>
        <li ng-repeat="contact in settings_ctrl.contacts">
            <select ng-model="contact.type" aria-label="Contact method" id="select_{{$index}}">
                <option>phone</option>
                <option>email</option>
            </select>
            <input type="text" ng-model="contact.value" aria-labelledby="select_{{$index}}" />
            <button ng-click="settings_ctrl.clearContact(contact)">clear</button>
            <button ng-click="settings_ctrl.removeContact(contact)" aria-label="Remove">X</button>
        </li>
        <li><button ng-click="settings_ctrl.addContact()">add</button></li>
    </ul>
</div>
<a href="#/users">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Register</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="addUser()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="user.name" placeholder="Name">
        </div>
        <div class="form-group">
          <label>Gender</label>
          <select ng-model="user.gender" class="form-control">
            <option value="Both">Both</option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
          </select>
        </div>
        <div class="form-group">
          <label>Age</label>
          <input type="date" class="form-control" ng-model="user.age" placeholder="Age">
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="number" class="form-control" ng-model="user.phone" placeholder="Phone Number">
        </div>
       
        <button type="submit" class="btn btn-default">Signup</button>
      </form>
    </div>
    </div>
  </div>
</div>