<div class="content">      

  <h2>Disclaimer for PDF Drive</h2>
  <p>PDF Drive ("<strong><em>PDF Drive</em></strong>"") respects the intellectual 
      property rights of others and expects its users to do the same. In accordance with the
      Digital Millennium Copyright Act of 1998, the text of which may be found on the U.S. Copyright
      Office website at&nbsp;<a href="http://www.copyright.gov/legislation/dmca.pdf" target="_blank">http://www.copyright.gov/legislation/dmca.pdf</a>,
      PDF Drive will respond expeditiously to claims of copyright infringement committed using the PDF Drive service and/or the PDF Drive website.</p>
  <p>All the information on this website is published in good faith and for general information purpose only. PDF Drive does not make any 
      warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find 
      on this website (www.pdfdrive.com), is strictly at your own risk. www.pdfdrive.com will not be liable for any losses and/or damages in 
      connection with the use of PDF Drive.</p><p>From PDF Drive, you can visit other websites by following hyperlinks to such external sites. 
      While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites.
      These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change 
      without notice and may occur before we have the opportunity to remove a link which may have gone ‘bad’.</p>
  <p>On the download page you can find the remote file source url. Please contact them also to remove your copyrighted material. 
      If you do not want search engines to index your PDF files (or other specific filetypes) you can use an X-Robots tag within your HTTP header to prevent this.

      Here is a Google page about the topic: <a href="https://developers.google.com/webmasters/control-crawl-index/docs/robots_meta_tag?hl=tr&amp;csw=1">Robots meta tag specifications</a>. PDF Drive's standard web crawler has the user-agent name&nbsp;PDFDriveCrawler.</p>
  <p>Please be also aware that when you leave PDF Drive, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their “Terms of Service” before engaging in any business or uploading any information.</p><p><strong>Consent</strong><br>By using our website, you hereby consent to our disclaimer and agree to its <a href="https://www.pdfdrive.com/home/terms">terms</a>.</p><p><strong>Update</strong></p><p>Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>
  
  <center><a class="btn btn-primary btn-responsive" href="https://www.pdfdrive.com/home/contact?dmca=1" role="button">Submit DMCA notice</a></center>
</div>