<div>

	<!-- <header-template></header-template> -->

	<!-- <div ng-include="contentUrl" class="content"></div> -->

	<!-- <footer-template></footer-template> -->

	<div class="loading-animation-container" ng-show="!artists">
		<loading-inline></loading-inline>
	</div>

	<div class="panel panel-default" ng-init="getLatestMusics()">
		<div class="panel-body">
			<div class="row">
				<div ng-repeat="music in latests_musics">
					<div class="col-md-6">
						<div class="col-md-6">
							<h4>{{music.title}}</h4>
							<a ng-href="#/artists/details/{{music.artist._id}}" ng-repeat="artist in music.artists">
								{{ arrayToSentence(artist.stage_name) }}
							</a>
							<p>{{music.description}}</p>
							<a class="btn btn-primary" ng-href="#/musics/details/{{music._id}}">View Details</a>
						</div>
						<div class="col-md-6">
							<img class="thumbnail" src="{{music.album_art}}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>