<nav class="nav fixed navbar-fixed hide-on-large-only orange" ng-class="{'user_logged_in': isAuthenticated()}" role="navigation">
  <div class="nav-wrapper">
    <a id="logo-container" href="#/" class="brand-logo">EpsilonPi</a>

    <a data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only"><i class="material-icons">menu</i></a>

    <ul id="nav-mobile" class="sidenav sidenav-fixed">
      <li class="user-view" ng-if="isAuthenticated() && currentUser.username">
        <a href="https://www.facebook.com/{{currentUser.username}}">
          <img class="circle" ng-src="{{currentUser.picture}}">
          <span class="name">@{{currentUser.username}}</span>
        </a>
      </li>
      <hr>
      <li><a href="#/now_playing">Now Playing</a></li>
      <hr>
      <li><a ng-href="#/browse">Browse</a></li>
      <li><a ng-href="#/radio">Radio</a></li>
      <li><a ng-href="#/discover">Discover</a></li>
      <li><a href="#/charts">Charts</a></li>
      <li class="active"><a href="#/">Home</a></li>
      <li class=""><a href="#/musics/add">Add music</a></li>
      <li class=""><a href="#/vote">Vote</a></li>
      <li class=""><a href="#/home">Tests</a></li>
      <li class=""><a href="#/stats">Stats</a></li>

      <li ng-if="isAuthenticated() && currentUser.username">
        <a href="https://www.facebook.com/{{currentUser.username}}">
          <img class="media-object img-rounded" ng-src="{{currentUser.picture}}">
          @{{currentUser.username}}
        </a>
      </li>

      <li ng-repeat="navlink in _nav_links">
        <a href="{{navlink.url_path}}">
          <i class="icon ion-{{navlink.icon}} ion-cog">&nbsp;</i>{{navlink.link_title}}
        </a>
      </li>
    </ul>
    
    <div hidden="" class="input-field col s12" ng-controller="SearchController" style="width: 472px; margin-right: 15px; height: 50px;">
      <form id="search" class="navbar-form navbar-search form-inline" autocomplete="off" ng-submit="doSearch();" name="search" role="search">
        <input id="key" name="key" type="hidden" value="e1da5b6b50cc6236c33ae32c45e58cd3c42bdfe4">

        <input type="hidden" name="field" value="title" ng-model="field">

        <div class="form-group has-feedback" style="display: block;">
          <!-- <span class="input-group-addon" id="basic-addon3"><i class="fa fa-search"></i></span> -->
                      
          <div class="input-group input-group-md">
            <input type="text" name="q" id="searchinput" size="30" value="" class="form-control inputbox search-query ui-autocomplete-input" autocomplete="off" autocorrect="off" aria-describedby="basic-addon3" aria-label="filter friends"  placeholder="Search song title, album, artist, lyric" ng-model="searchQuery" (ngmodelchange)="searchOnInput()" xstyle="padding-right: 12px;padding: 0 5px;width: 360px;height: 34px;color: #39464E;font-size: 13px;background: #ffffff;/* border: 1px solid #ce2b01; */border-radius: 0px;outline: 0;box-sizing: border-box;vertical-align: middle;-webkit-appearance: none;-moz-appearance: none;"/>

            <input type="hidden" name="ajax" id="ajax" value="1">
            <span class="input-group-btn"><button type="submit" class="btn btn-primary" ng-disabled="search.$invalid"><span class="fa fa-search" aria-hidden="true"></span></button></span>
            <i class="material-icons prefix">textsms</i>
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">Autocomplete</label>
          </div>

        </div>

        <loading-spinner [isidle]="isIdle" [isloading]="isLoading"></loading-spinner>
      </form>
    </div>
  </div>
</nav><!--/.nav-collapse -->
