<a href="#/musics">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Upload Music</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form id="NewMusicForm" ng-submit="uploadMusic()" novalidate>
        <div class="col-md-6">
          
          <div class="form-group input-group">
            <span class="input-group-addon">
              <label hidden="">Title</label><i class="fa fa-music"></i></span>
            <input type="text" name="title" class="form-control" ng-model="music.title" placeholder="Title">
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon">
            <label hidden="">Artist</label><i class="fa fa-user"></i></span>
            <input type="text" name="artist" class="form-control" ng-model="music.artist" placeholder="Artist">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group input-group">
            <span class="input-group-addon">
            <label hidden="">Album Art</label><i class="fa fa-folder-open"></i></span>
            <input type="text" name="album_art" class="form-control" ng-model="music.album_art" placeholder="Image URL">
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon">
            <label hidden="">Music</label><i class="fa fa-music"></i></span>
            <input type="file" id="music" class="form-control" ng-change="change()" ng-model="music.image_file" placeholder="Image files">
          </div>
          <div class="form-group input-group"><audio id="player" src=""></audio></div>

        </div>
        <button type="submit" class="btn btn-default btn-success" ng-disabled="loginForm.$invalid">Upload</button>

      </form>
    </div>
    </div>
  </div>
</div>